@import "variables";

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: $white;
  font: $helvetica;
  color: $darkGray;
  height: 100%;
}


body .container-fluid {
  height: 100%;
  padding: 104px;
}

.post {
  display: block;
  height: 100%;
  width: 100%;
  background-color: $darkBlueishGray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

@import "highlights";
